DATABASE_URL=postgresql://wakajki:wakajki@postgres:5432/wakajki
FRONTEND_URL=http://localhost:5173
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:3000/auth/discord/callback